.drawer {
    transition: width 0.3s;
}

.drawer .MuiDrawer-paper {
    background-color: #333;
    color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.drawer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.drawer-header-closed {
    justify-content: center;
}

.drawer-header .live-indicator {
    display: flex;
    align-items: center;
    color: red;
    font-weight: bold;
    gap: 8px;
}

.drawer .list-item {
    cursor: pointer;
}

.drawer-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 8px;
}

.drawer-footer .icon-button {
    color: #fff;
}

.list-item {
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.list-item:hover {
    background: linear-gradient(90deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0.1) 100%);
    animation: shimmer 1.5s infinite linear;
    transform: scale(1.05); /* ขยายเล็กน้อย */
}

/* Keyframes สำหรับเอฟเฟกต์วิ้งๆ */
@keyframes shimmer {
    0% {
        background-position: -200%;
    }
    100% {
        background-position: 200%;
    }
}

